#bear:hover #left-ear,
#bear:hover #right-ear {
  transform: translateY(-10px);
  transform-origin: center center;
  transition: all .6s linear;
}

#left-eye,
#right-eye {
  animation: peeper 2s linear infinite alternate;
}

@keyframes peeper {

  0% {
    transform: translateX(10px);
  }

  100% {
    transform: translateX(-10px);
  }
}
